.escritorio{
    background-image: url(https://i.pinimg.com/564x/d1/f5/36/d1f536df524b0d06dc1e0a7148229751.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 1000px;
    margin-left: 150px;
    margin-top: 20px;
}

.barra{
    background-color: #1C1B17;
    width: 1000px;
    height: 42px;
    position: absolute;
    top: 580px
}

/*.menu{
    position: absolute;
    width: 49px;
    height: 42px;
    background-image: url(https://github.com/jrlopez185/imagenes-suvir/blob/main/in_2.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
}*/

.ima{
    width: 49px;
    height: 42px;
    margin-left: 20px;
    margin-top: 0px;
}

.s{
    top: 47px;
    position: absolute;
    left: 80px;
    z-index: 2;
    color: white;
}

.hora{
    position: absolute;
    top: 0px;
    left: 900px;
    color: white;
    font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}


.showmodal{
   position: relative; 
}



.ventanaActivar{
    width: 550px;
    height: 480px;
    background-color: #2B2A29;
    position: absolute;
    margin: 0;
    padding: 0px;
    top: 100px;
    left: 158px;
    display: none;
    
    
}

/*#show-modal:hover{
    cursor: pointer;
    background: #bc9d1a;
}*/

.imagen2{
    width: 45px;
    height: 35px;
    margin: 0;
    left:  480px;
    position: absolute;
}

.imagen:active{
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: rgba(247, 242, 242, 0.226);;
}

.imagen2:active{
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    
}

.v_carp{
    width: 950px;
    height: 500px;
    background-color: #2B2A29;
    position: absolute;
    top: 50px;
    left: 180px;
    display: none;
    z-index: 2;
}

.enca{
    width: 950px;
    height: 30px;
    /*background-color: red;*/
    background-color: black;
}
.enca2{
    width: 950px;
    height: 70px;
    /*background-color: blue;*/
    background-image: url(https://github.com/jrlopez185/imagenes-suvir/blob/main/ex2.png?raw=true);
    
}
/*.encabezado{
    width: 550px;
    height: 50px;
    background-color: red;
}*/

.contenido{
    width: 100px;
    height: 100px;
    background-color: rgba(247, 242, 242, 0.226);
    margin: 3px;
    display: flex;
    left: 200px;
    top: 30px;
    position: absolute;
}

.contenido:hover{
    border-style: solid;
    border-color: silver;
}
.contenido2:hover{
    border-style: solid;
    border-color: silver;
}
.contenido3:hover{
    border-style: solid;
    border-color: silver;
}
.contenido4:hover{
    border-style: solid;
    border-color: silver;
}
.contenido5:hover{
    border-style: solid;
    border-color: silver;
}
.contenido6:hover{
    border-style: solid;
    border-color: silver;
}
.contenido2{
    width: 100px;
    height: 100px;
    background-color: rgba(247, 242, 242, 0.226);
    margin: 3px;
    display: flex;
    top: 30px;
    position: absolute;
    left: 310px;
}
.contenido3{
    width: 100px;
    height: 100px;
    background-color: rgba(247, 242, 242, 0.226);
    margin: 3px;
    display: flex;
    top: 30px;
    position: absolute;
    left: 420px;
}

.contenido4{
    width: 100px;
    height: 100px;
    background-color: rgba(247, 242, 242, 0.226);
    margin: 3px;
    display: flex;
    left: 200px;
    top: 140px;
    position: absolute;
}
.contenido5{
    width: 100px;
    height: 100px;
    background-color: rgba(247, 242, 242, 0.226);
    margin: 3px;
    display: flex;
    top: 140px;
    position: absolute;
    left: 310px;
}
.contenido6{
    width: 100px;
    height: 100px;
    background-color: rgba(247, 242, 242, 0.226);
    margin: 3px;
    display: flex;
    top: 140px;
    position: absolute;
    left: 420px;
}

.google{
    width: 160px;
    height: 100px;
    position: absolute;
    left: -30px;
}

.Word{
    position: absolute;
    left: -20px;
    width: 140px;
    height: 80px;
    top: 10px;
}

.store{
    height: 90px;
    width: 130px;
    left: -15px;
    position: absolute;
}
.Visual{
    position: absolute;
    left: 5px;
    width: 90px;
    height: 90px;
}

.Ubuntu{
    width: 320px;
    height: 200px;
    background-color: rgba(247, 242, 242, 0.226);
    position: absolute;
    top: 260px;
    left: 203px;
}

.Ubuntu:hover{
    border-style: solid;
    border-color: silver;
}

.Ubu{
    position: absolute; 
    top: 20px;
    left: 10px;
}

.explorador{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 6px;
    left: 30px;
    color: #FFFFFF;;
    font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 80%;
}

.logos{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 3px;
}

.barra2{
    width: 200px;
    height: 400px;
    background-color: #1C1B17;
    position: absolute;
    top: 100px;
}

.A{
    /*background-color: orangered;*/
    width: 200px;
    height: 30px;
}

.Acceso{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 50px;
    color: white;
}
.Ac{
    position: absolute;
    left: 20px;
}
.A2{
    /*background-color: blue;*/
    width: 200px;
    height: 30px;
    position: absolute;
}

.Acceso2{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 50px;
    color: white;
}
.Ac2{
    position: absolute;
    left: 15px;
}

.A3{
    /*background-color: orangered;*/
    width: 200px;
    height: 30px;
    position: absolute;
    top: 61px;
}

.Acceso3{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 50px;
    color: white;
}
.Ac3{
    position: absolute;
    left: 17px;
}

.A4{
    /*background-color: yellow;*/
    width: 200px;
    height: 30px;
    position: absolute;
    top: 90px;
}

.Acceso4{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 50px;
    color: white;
}
.Ac4{
    position: absolute;
    left: 15px;
}
.A:hover{
    background-color: #45484a;
}

.A2:hover{
    background-color: #45484a;
}

.A3:hover{
    background-color: #45484a;
}

.A4:hover{
    background-color: #45484a;
}

.Salir{
    margin: 0;
    padding: 0;
    position: absolute;
    color: white;
    top: 6px;
    left: 920px;
}

.Maximisar{
    margin: 0;
    padding: 0;
    position: absolute;
    color: white;
    top: -1px;
    left: 880px;
    font-size: 25px;

}

.QuitarTemporalmente{
    margin: 0;
    padding: 0;
    position: absolute;
    color: white;
    top: -5px;
    left: 850px;
    font-size: 30px;
}
